body {
    padding: 0;
    margin: 0;
    height: 100vh;
}
/*
.split {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 20px;
    overflow-x: hidden;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 100%;
}
*/

.left {
    background: url(airline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    left: 0px;

    width: 50%;
    height: 100%;
}

.right {
    background-color: rgba(114, 92, 38, 0.643);
    position: absolute;
    right: 0px;

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.login {
    color:antiquewhite;
    font-weight: bolder;
}

.account {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

.create {
    width: 100%;
    font-size: large;

    border-radius: 10px;
    padding: 5px 10px;
}

.create:hover {
    opacity: 70%;
}

.mForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    border: 1px solid black;
    height: 200px;
    width: 80%;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.group1, .group2, .group3,
.group4, .group5, .group6 {
    display:flex;
    flex-direction: column;

    border: 1px solid black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;  
}

