body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.left {
    background: url(airline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    left: 0px;

    width: 50%;
    height: 100%;
}

.right {
    background-color: grey;
    position: absolute;
    right: 0px;

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;

}

button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
  
  
  height: 25px;
  border: 1px solid black;
}

input{
    border: 0px;
    border-bottom: 2px solid black;
    background-color: grey; 
}

input:focus {
    outline: none;
    border: 2px solid blanchedalmond;
    transition-delay: 0.05s;
}

input::placeholder{
    color:blanchedalmond;
}

input:focus::placeholder{
    color: transparent;
}

.login {
    color:antiquewhite;
    font-weight: bolder;
}

.account {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;


    position: relative;
    left: 50px;
}

.create {
    display: flex;
    font-size: 20px;

    border-radius: 5px;
    padding: 15px 30px;

    align-items: center;
    justify-content: center;
}

.create:hover {
    opacity: 70%;
}

.mForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    border: 1px solid black;
    height: 200px;
    width: 70%;

    position: relative;
    left: 50px;

}

.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.group1, .group2, .group3,
.group4, .group5, .group6 {
    display:flex;
    flex-direction: column;
    /*
    border: 1px solid black;  
    */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;  
}

.banner {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    
    color: white;

    width: 400px;
    margin: 0;
    position: relative;
    left: 50px;
}

.banner.initial{
    font-size: 20px;
    margin-bottom: 0;
    top: 20px;
}