body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.left {
    background: url(airline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    left: 0px;

    width: 50%;
    height: 100%;
}

.right {
    background-color: grey;
    position: absolute;
    right: 0px;

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;


    gap: 40px;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
  
  
  height: 25px;
  border: 1px solid black;
}

input{
    border: 0px;
    border-bottom: 2px solid black;
    background-color: grey; 

    font-size:larger;
}

input:focus {
    outline: none;
    border: 2px solid blanchedalmond;
    transition-delay: 0.05s;
}

input::placeholder{
    color:blanchedalmond;
}

input:focus::placeholder{
    color: transparent;
}

.login {
    color:antiquewhite;
    font-weight: bolder;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;

    width: max-content;
    margin-top: 20px;
    /*
    position: relative;
    left: 50px;
    */
}

.create {
    display: flex;
    font-size: 20px;

    border-radius: 5px;
    padding: 15px 30px;

    align-items: center;
    justify-content: center;

    width: auto;
}

.create:hover {
    opacity: 70%;
}

.mForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    

    height: 300px;
    width: 70%;

    position: relative;
    left: 50px;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.group1, .group2, .group3,
.group4, .group5, .group6 {
    display:flex;
    flex-direction: column;
    /*
    border: 1px solid black;  
    */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;  
}

.banner {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    
    color: blanchedalmond;

    width: 400px;
    margin: 0;
    position: relative;
    left: 50px;
}

.banner.initial{
    font-size: 20px;
    margin-bottom: 0;
    top: 20px;
}

span.test {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .4s;

    color: blanchedalmond;
}

input:focus ~ span,
input:valid ~ span{
    font-size: 10px;
    transform: translateX(5px) translateY(-12px);
    font-size: 0.8em;
    padding: 0 6px;
    color: var(--cyny-green);
    background-color: blanchedalmond;
    color: black;
    border-radius: 2px;
}
input:focus,
input:focus-visible {
    border: 1px solid  blanchedalmond;
    box-shadow: 0 0 5px rgb(0,0,0,.3);
    outline: none;
}

input:valid {
    border: 1px solid blanchedalmond;  
}

span.test:not(.btm-text-highlighted) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;
    pointer-events: none;
}

.group1, .group2 {
    position: relative;
}